<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">About me</h1>
			<div class="row">
				<p style= "text-align: justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet risus nullam eget felis eget. Turpis egestas sed tempus urna et pharetra pharetra massa. Sem nulla pharetra diam sit. Rutrum quisque non tellus orci ac auctor augue mauris. Tempus egestas sed sed risus pretium quam. Arcu dictum varius duis at consectetur lorem. Ornare massa eget egestas purus viverra accumsan in. Tortor posuere ac ut consequat semper viverra. A cras semper auctor neque vitae. Tincidunt praesent semper feugiat nibh sed pulvinar. Amet justo donec enim diam vulputate ut.
				<br/>
				<br/>
				Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Vitae tortor condimentum lacinia quis vel eros. Euismod lacinia at quis risus. Imperdiet massa tincidunt nunc pulvinar sapien. Orci ac auctor augue mauris. Massa id neque aliquam vestibulum morbi blandit. Ullamcorper malesuada proin libero nunc consequat interdum varius sit. Blandit libero volutpat sed cras ornare arcu dui vivamus. In fermentum posuere urna nec tincidunt praesent semper feugiat.
				</p>
				<hr class="my-4">
			</div>
			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-secondary">Youtube</button>
				<button type="button" class="btn btn-secondary">Facebook</button>
				<button type="button" class="btn btn-secondary">Instagramm</button>
				<button type="button" class="btn btn-secondary">Twitter</button>
				<button type="button" class="btn btn-secondary">Github</button>
			</div>
	</div>
</div>
